stages:
  - "Static analysis"
  - "Test"
  - "Documentation"
matrix:
  allow_failures:
    - rvm: ruby-head
  include:
    - rvm: 2.3.8
      gemfile: gemfiles/rails_3.2.gemfile
    - rvm: 2.3.8
      gemfile: gemfiles/rails_4.2.gemfile
    - rvm: 2.7
      gemfile: gemfiles/rails_5.2.gemfile
    - rvm: 2.7
      gemfile: gemfiles/rails_6.0.gemfile
    - rvm: 2.7
      gemfile: gemfiles/rails_5.2.gemfile
    - rvm: 2.7
      env: RUN_GENERATORS=true
      gemfile: gemfiles/rails_6.0.gemfile
    - rvm: 2.7
      name: "PostgreSQL"
      services:
        - postgresql
      before_script:
        - psql -c 'create database ci_test;' -U postgres
      env:
        - DATABASE_ADAPTER=postgresql
        - DATABASE_NAME=ci_test
    - rvm: 2.7
      gemfile: gemfiles/rails_master.gemfile
    - rvm: ruby-head
      gemfile: gemfiles/rails_master.gemfile
    - rvm: 2.7
      stage: "Static analysis"
      gemfile: gemfiles/rails_6.0.gemfile
      name: "Rubocop"
      script: rake rubocop
    - rvm: 2.7
      stage: "Documentation"
      name: "Documentation"
      before_deploy: 'bundle exec yard doc --private'
      deploy:
        provider: pages
        skip_cleanup: true
        github_token: $GITHUB_TOKEN
        local_dir: doc
        on:
          branch: master
before_install:
  - gem update --system
  - gem install bundler
cache: bundler

