name: Regenerate RBIs

on:
  pull_request:
    branches: [ master ]
  label:
    types:
      - dependencies

jobs:
  rbi:
    if: contains(github.event.pull_request.labels.*.name, 'dependencies')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2.2
          bundler-cache: true
      - run : bundle exec tapioca gems
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update RBIs
          file_pattern: './sorbet'

