name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  schedule:
    - cron: "02 4 * * *"

jobs:
  static:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.6.2
          bundler-cache: true
      - run: bundle exec rake rubocop
      - run: bundle exec tapioca gem --verify
      - run: bundle exec srb
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    env:
      COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      DATABASE_ADAPTER: ${{ matrix.database_adapter }}
      DATABASE_NAME: ci_test
      DATABASE_PASSWORD: password
      PGPASSWORD: password
      RAILS_VERSION: ${{ matrix.rails }}
      RUN_GENERATORS: true
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.4", "head"]
        rails: ["7.0", "current", "main"]
        rubygems: ["3.6.2"]
        database_adapter: ["sqlite3", "postgresql"]
    steps:
      - uses: actions/checkout@v4
      - run: sudo apt-get install libyaml-dev
      - name: Remove Gemfile.lock
        if: ${{ matrix.ruby == 'head' || matrix.rails != 'current' }}
        run: "rm -f Gemfile.lock"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: psql -c 'create database ci_test;' -U postgres -h localhost

      - run: bundle exec rake
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: "bundle exec rake readme"
  documentation:
    runs-on: ubuntu-latest
    needs: ["test", "static"]
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: "bundle exec yard doc --private"
      - uses: JamesIves/github-pages-deploy-action@v4.4.1
        with:
          branch: gh-pages
          folder: doc
